 *{
     font-family: 'Poppins', sans-serif;
 }
 #navbar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background-color: rgb(235, 235, 235);
        
    }
    #nav{
        
        display: flex;
        gap: 20px;
    }

     body{
        background-image: url("https://images.unsplash.com/photo-1543352634-99a5d50ae78e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
        background-repeat: repeat-y;
        background-size: 100%;
    }
    a{
        text-decoration: none;
        color: black;
    }